# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# Streamlit
# =========================

.streamlit/secrets.toml

# =========================
# RAG Local Data
# =========================

chroma_db/
chroma/
vector_db/

chat_history/

# =========================
# Uploaded / Temporary Files
# =========================

uploads/
temp/
tmp/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log